django==5.2.1
pip
os
dj-database-url
dj-static
python-decouple
django-environ
gunicorn
whitenoise
asgiref
certifi
charset-normalizer
environ
idna
pillow
psycopg2
python-dateutil
requests
six
sqlparse
tzdata
urllib3